flow_for_6features.json
[{"id":"7b145e1a.1f26d","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"f78e3272.4c034","type":"function","z":"7b145e1a.1f26d","name":"PreToken","func":"\n\nglobal.set(\"sg\",msg.payload.sg)\nglobal.set(\"al\",msg.payload.al)\nglobal.set(\"sc\",msg.payload.sc)\nglobal.set(\"hemo\",msg.payload.hemo)\nglobal.set(\"pcv\",msg.payload.pcv)\nglobal.set(\"htn\",msg.payload.htn)\n\nvar apikey=\"3g5jfrdVWj_334nV95St94uyOatt0wylfBl5nG57wsfB\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":440,"wires":[["52ec3fbd.993f"]]},{"id":"52ec3fbd.993f","type":"http request","z":"7b145e1a.1f26d","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":539,"y":448.9999952316284,"wires":[["6c3fa47e.329c3c"]]},{"id":"1cdf4b.fce360b5","type":"debug","z":"7b145e1a.1f26d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":978.0000114440918,"y":190.99999713897705,"wires":[]},{"id":"6c3fa47e.329c3c","type":"function","z":"7b145e1a.1f26d","name":"Pre Prediction","func":"\nvar sg = global.get('sg')\nvar al = global.get('al')\nvar sc = global.get('sc')\nvar hemo = global.get('hemo')\nvar pcv = global.get('pcv')\nvar htn = global.get('htn')\n\n\nvar token=msg.payload.access_token\nvar instance_id=\"25521faa-40b1-4044-b9b7-f4d6a771f5de\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"sg\", \"al\", \"sc\", \"hemo\", \"pcv\", \"htn\"], \"values\": [[sg, al,sc,hemo, pcv,  htn]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":736.0000076293945,"y":411.9999990463257,"wires":[["e55f5b13.12ccf8"]]},{"id":"e55f5b13.12ccf8","type":"http request","z":"7b145e1a.1f26d","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/v4/deployments/dad3e899-cdaf-419f-8b02-b0d2a59bfb38/predictions","tls":"","persist":false,"proxy":"","authType":"","x":829.5000076293945,"y":355.9999990463257,"wires":[["2287df7f.706b8","1cdf4b.fce360b5"]]},{"id":"e88c52c3.f145f","type":"ui_form","z":"7b145e1a.1f26d","name":"","label":"","group":"22f9e627.94860a","order":0,"width":0,"height":0,"options":[{"label":"sg","value":"sg","type":"number","required":true,"rows":null},{"label":"al","value":"al","type":"number","required":true,"rows":null},{"label":"sc","value":"sc","type":"number","required":true,"rows":null},{"label":"hemo","value":"hemo","type":"number","required":true,"rows":null},{"label":"pcv","value":"pcv","type":"number","required":true,"rows":null},{"label":"htn","value":"htn","type":"text","required":true,"rows":null}],"formValue":{"sg":"","al":"","sc":"","hemo":"","pcv":"","htn":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":131,"y":502.9999952316284,"wires":[["f78e3272.4c034"]]},{"id":"7542baf1.ae2924","type":"ui_text","z":"7b145e1a.1f26d","group":"22f9e627.94860a","order":1,"width":0,"height":0,"name":"","label":"classification","format":"{{msg.payload}}","layout":"row-spread","x":877.6000366210938,"y":508.20000743865967,"wires":[]},{"id":"2287df7f.706b8","type":"function","z":"7b145e1a.1f26d","name":"","func":"msg.payload = msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":689.6000366210938,"y":251.60000133514404,"wires":[["7542baf1.ae2924"]]},{"id":"22f9e627.94860a","type":"ui_group","z":"","name":"Default","tab":"90ad2b09.b96218","order":1,"disp":true,"width":"6","collapse":false},{"id":"90ad2b09.b96218","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]